*{
	box-sizing: border-box; /*incluye pading y border en la medida*/
	font-size: 91%;
}

body{
	width:100%;
	max-height:100%;
	font-family: arial;
	box-sizing: border-box;
	overflow: hidden;
}
.web{
	height: 86%;
	
}

#pie{
	
	width: 100%;
	color: white;
	font-size: 24px; /* Cambiar tamaño usando esto como clave*/
	position: fixed;
	bottom: 0;
}
.cabecera{
	
	background: #9c1f2f;
	text-align: right;
	padding: 0.25em 1em;
	height: 10%;
	width: 100%;
	color: white;
	font-size: 50px; /* Cambiar tamaño usando esto como clave*/
}
.cabecera>img{
	width: 15%;
}
.cabecera>div{
	float: left;
	padding: 0.25em;
}
#pie>div{
	width:50%;
		height:4%;
	display: inline-block;
	padding: 0.5em 1em;
}
#pie>div:first-child{
	background: black;
	text-align: right;
}
#pie>div:last-child{
	background: #9c1f2f;
}
 .titulo{
   /*border: 5px solid;*/
   border-radius: 10px 10px 0px 0px;
   background:#9B1E2E;  
}
#reloj{
	width: 15%;
    text-align: left;
}
#titulo{
	width: 69%;
    text-align: center;
}
#titulo>h2{margin: 2% auto;}
.form-signin{
	width: 33%;
	min-width: 30em;
	margin: 10% auto;
}
.formGrupos,.formCanales{
	width: 33%;
	min-width: 50em;
	margin: 5em auto;
	float: right;
}
.formPantallas{
	width:90%;
	margin: 5em auto;
	
}
.formGrupo,.formCanal, .formUsuario{
	margin: 4em auto;
	background-color: lemonchiffon;
    border-radius: 10px 90px 10px 10px;
	padding: 10px;
}
.tutorial{
	width: 33%;
	min-width: 50em;
	margin: 10em auto;
	float: right;
	padding: 10px;
}
.formPantallas {
		width: 90%;
		float: auto;
}
.gestionUsuarios{
	width: 33%;
	min-width: 50em;
	margin: 5em auto;
}
a.salir{
	color: white;
	font-size: 22px;
}
.mensaje{
	margin: 10% auto;
	text-align: center;
}
label {
    margin-top: 1.5em;
}
.cuerpo{
	position: absolute;
    height: 82%;
	width: 100%;
	overflow: auto;
}
.listaMulti{
	min-height: 10em;
}
.loggedin{
	float: right;
}
.loggedin>*{
	margin: 1px auto;
	display: block;
}
.table{
	font-size: 25px;
	margin: 10px;
	
}
div.scrollmenu {
    background-color: #9c1f2f;
    overflow: auto;
    white-space: nowrap;
    font-size: 24px;
    position: fixed;
    width:100%;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #9c1f2f;
}
